<div id="block">
  <%#= render :partial => "layouts/error_display", :locals => {:resource => @user_session, :main_error_msg => "Please fix these errors to proceed"} %>
  <div class="standard-block">
    <%= form_for :user_session, @user_session, :url => user_session_url, :html => {:method => :post, :class => "form"} do |f| %>

        <div class="group">
          <label class="label"> Email </label>
          <%= f.text_field :email, :class => "text_field" %>
        </div>

        <div class="group">
          <label class="label"> Password </label>
          <%= f.password_field :password, :class => "text_field" %>
        </div>

        <div class="group">
          <%= f.submit "Login", :class => "button" %>
          <p> <%= link_to "Sign up", new_user_url, :class =>"link" %> <br/>
              <%= link_to "Forgot Password?", "", :class => "link" %>
          </p>

        </div>
    <% end %>
  </div>
</div>
